NEXT_PUBLIC_PRIMARY_API=https://streamed.pk/api/matches/football
NEXT_PUBLIC_BACKUP_API=https://api.cdnlivetv.tv/api/v1/events/sports/?user=cdnlivetv&plan=free
NEXT_PUBLIC_PRIMARY_STREAM=https://streamed.pk/api/stream
